{% extends 'base.html.twig' %}

{% block title %}New Articles
{% endblock %}

{% block main %}
	<h2>Create new Articles</h2>

	{{ include('articles/_form.html.twig') }}

	<a href="{{ path('app_home') }}" class="btn btn-info">back to list</a>
{% endblock %}
