{% extends 'base.html.twig' %}

{% block title %}Edit Profiles
{% endblock %}

{% block main %}
	<h1>Edit Profiles</h1>

	{{ include('profiles/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('app_profiles_index') }}">back to list</a>

{% endblock %}
