{% extends 'base.html.twig' %}

{% block title %}New Profiles
{% endblock %}

{% block main %}
	<h1>Create new Profiles</h1>

	{{ include('profiles/_form.html.twig') }}

	<a href="{{ path('app_profiles_index') }}">back to list</a>
{% endblock %}
